src/logs/*
!.gitkeep
src/node_modules/
src/bower_components/
**/*/tmp
.DS_Store
src/app/js/*

#visual studio
src/[Dd]ebug/
src/[Rr]elease/
src/x64/
src/[Bb]in/
src/[Oo]bj/

# User-specific files
*.suo
*.user
*.sln.docstates
*/*.csproj.user