<section id="exampleform">
    <div class="container">
        <div class="row">
            <h1>AngularJS example form</h1>
            <div class="col-md-6">
                <form name="exampleForm" ng-submit="submit(exampleForm)" novalidate class="form-group">

                    <!--<label for="name">Name:</label>-->
                    <input type="text" placeholder="Your name *" name="name" id="name" data-ng-model="vm.name" required data-focus-me class="form-control"/>
                    <p class="error" data-ng-if="(exampleForm.$submitted || exampleForm.name.$touched) && exampleForm.name.$invalid">Please enter a name</p>

                    <input type="email" placeholder="Your email" name="email" id="email" data-ng-model="vm.email" class="form-control"/>
                    <p class="error" data-ng-if="(exampleForm.$submitted || exampleForm.email.$touched) && exampleForm.email.$invalid">Please enter an email address.</p>

                    <textarea placeholder="Your message" name="message" id="message" data-ng-model="vm.message" rows="5" required></textarea>
                    <p class="error" data-ng-if="(exampleForm.$submitted || exampleForm.message.$touched) && exampleForm.message.$invalid">Please enter a message to send.</p>
                    <div id="buttonBar">
                        <input type="submit" value="Send" class="btn btn-default"/>
                        <input type="button" data-ng-click="cancel()" value="Cancel" class="btn btn-default" formnovalidate/>
                    </div>
                </form>
                <ul id="resultMsg">
                    <li ng-repeat="msg in resultMessages">
                        {{ msg }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
