src/logs/*
!.gitkeep
src/node_modules/
src/bower_components/
**/*/tmp
.DS_Store
app/js/

#visual studio
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

# User-specific files
*.suo
*.user
*.sln.docstates
*/*.csproj.user

