/* app css stylesheet */

$theme-color: #4B688B; //#2B4A6F;

/* theme color based on http://paletton.com/#uid=13C0u0kllllaFw0g0qFqFg0w0aF */

body {
    overflow-x: hidden;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 72px;
    webkit-tap-highlight-color: $theme-color
}
.navbar-default {

    .nav li a{
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;

        &:hover, &:focus {
             color: $theme-color;
            outline: 01
        }
    }

    .navbar-nav > .active > a {
        border-radius: 0;
        color: #fff;
        background-color: $theme-color;
        &:hover, &:focus {
                color: #fff;
            background-color: $theme-color;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
section {
    padding: 100px 0;

h3.section-subheading {
    font-size: 16px;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px
}
}
@media (min-width: 768px) {
    section {
        padding: 150px 0
    }
}
.text-muted {
    color: #777
}
footer {
    padding: 25px 0;
    text-align: center
}
footer span.copyright {
    line-height: 40px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none
}
footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none
}
ul.social-buttons {
    margin-bottom: 0;
}
ul.social-buttons li a {
    display: block;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background: $theme-color
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0
}
::-moz-selection {
    text-shadow: none;
    background-color: $theme-color
}
::selection {
    text-shadow: none;
    background: $theme-color
}
img::selection {
    background: 0 0
}
img::-moz-selection {
    background: 0 0
}

